<h1 class='header'>Musicians</h1>

<p id="notice"><%= notice %></p>

<% @users.each do |user| %>
  <%= link_to user, class: 'link-card' do%>
    <h3><%= user.name %></h3>
    <p><%= user.bio %></p>
  <% end %>
<% end %>
