<p id="notice"><%= notice %></p>
<div>
<% @gigs.each do |gig| %>
    <div>
        <%= gig.venue.name %>
        <%= gig.venue_message%>
        <%= link_to "More details", gig %>
    </div>
<% end %>

</div>