<h1 class='header'>Welcome to OpenStage</h1>

<p>OpenStage is a platform for musicians to form casual bands with other musicians,
and for those bands to find gigs to play.</p>

<p>Venues like bars and restaurants can post time when their space is open, and bands
can then request that time to play.</p>

<div class='invisible-wrapper-column'>
    <%= image_tag 'OpenStage.png', alt: "The OpenStage Logo" %>
</div>
<div class='invisible-wrapper'>
    <%= link_to "Musician Sign Up", user_signup_path, class: 'button' %>
    <%= link_to "Venue Sign Up", venue_signup_path, class: 'button' %>
</div>
